#morning {
  margin:0;
  filter: invert(42%) sepia(91%) saturate(2424%) hue-rotate(203deg) brightness(102%) contrast(91%);
 }
#afternoon {
  margin:0;
  filter: invert(46%) sepia(99%) saturate(727%) hue-rotate(1deg) brightness(97%) contrast(103%);
}
#evening {
  margin:0;
  filter: invert(12%) sepia(85%) saturate(3819%) hue-rotate(354deg) brightness(92%) contrast(119%);
 }
#night {
  margin:0;
  filter: invert(42%) sepia(91%) saturate(2424%) hue-rotate(203deg) brightness(102%) contrast(91%);
}
#hi{
  filter: invert(50%) sepia(70%) saturate(1880%) hue-rotate(72deg) brightness(109%) contrast(88%);

}
#howareyou{
  filter: invert(12%) sepia(85%) saturate(3819%) hue-rotate(354deg) brightness(92%) contrast(119%);
}
#sorry{
  filter: invert(12%) sepia(85%) saturate(3819%) hue-rotate(354deg) brightness(92%) contrast(119%);
}
#bye{
  filter: invert(46%) sepia(99%) saturate(727%) hue-rotate(1deg) brightness(97%) contrast(103%);

}


#orderIcon{
  color: #e69e05;
 }
 #questionIcon{
  color: red;
 }
 #answerIcon{
   color: #1ecf0e;
 }
 #customIcon{
   color: blueviolet;
 }
 #chatIcon{
  color:#094cde;
}
ion-grid{
  width:75%
}
div.square{
  border: 2px solid black;
  border-radius: 7px;
}

.bg{
  --background: url(/assets/background/bg_page.png) 0 0/100% 100% no-repeat; 
  
  
}

.mute{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 7px;
  background-color: rgb(93, 183, 240);
}
.mute:hover{
  background-color: rgb(107, 191, 243);
}

#muteicon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  max-height: 20%;
}

ion-title{
  text-align: center;
  font-family: fantasy;
}