<ion-header [translucent]="true">

</ion-header>


  


<ion-content padding class="background" [fullscreen]="true">
  <!-- Default Item -->
  <img id="logo" src="assets/background/logo.png" >
 <div class = "spacer">
  <ion-chip routerLink="/greetings" >
    <ion-icon  id="chatIcon" size ="large" name="happy-outline" ></ion-icon>
    <ion-label color="light">Greetings</ion-label>
  </ion-chip>
  <ion-chip routerLink="/order">
    <ion-icon size ="large" id="orderIcon" name="fast-food" ></ion-icon>
    <ion-label color="light">Food/Services</ion-label>
  </ion-chip>


  <ion-chip routerLink="/question">
    <ion-icon size ="large" id="questionIcon" name="alert-outline" ></ion-icon>
    <ion-label color="light">Emergency</ion-label>
  </ion-chip>
  <ion-chip routerLink="/answer">
    <ion-icon id="answerIcon" size ="large" name="chatbubble-ellipses-outline" ></ion-icon>
    <ion-label color="light">Answer</ion-label>
  </ion-chip>


  <ion-chip routerLink="/custom">
    <ion-icon id="customIcon" size ="large" name="brush-outline" ></ion-icon>
    <ion-label color="light">Custom</ion-label>
  </ion-chip>
  </div>
  




</ion-content>
